<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="ModelContainer" connectionString="metadata=res://*/Game.DB.Model.csdl|res://*/Game.DB.Model.ssdl|res://*/Game.DB.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=..\..\Game\DB\mrr.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="mrEntities" connectionString="metadata=res://*/Game.DB.MrModel.csdl|res://*/Game.DB.MrModel.ssdl|res://*/Game.DB.MrModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=W4310-04\SQLEXPRESS2012;initial catalog=mr;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>